In [4]:
import pandas as pd      #IMPORTANTE NO OLVIDAR ヽ(•‿ •)ノ
import numpy as np
pd.set_option("display.max_rows", 80) # Especificar el número de filas a mostrar
from scipy import stats # importando scipy.stats
%matplotlib inline
import matplotlib.pyplot as plt # importando matplotlib
from matplotlib.ticker import NullFormatter
import seaborn as sns # importando seaborn
import calendar
plt.style.use('seaborn-whitegrid') # Se define el estilo, en este caso se elige la visualización clásica de Matlab

# Manipulación de datos perdidos
Para contar los valores missing, Nan o None se utiliza el comando sample y se crea la variable isnull().sum() para contarlo
Se observa que no hay datos perdidos

In [2]:
total=pd.read_excel("TOTAL.xlsx",index_col=0)
total

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,145898,11,1810,2008,0,0,0,2,0,0,...,3525900,3525900,0,0,2,912761,2602400,0,0,3460300
145979,145904,11,1810,2008,1,1,5,2,0,0,...,296411,296411,9406,0,7,122106,102941,0,0,296411
145987,145912,11,1810,2008,0,0,0,0,0,0,...,1594496,1594496,3200,46,0,366562,867491,0,194621,1597520
145988,145913,11,1741,2008,0,1,0,0,0,0,...,166200,166200,-2000,0,0,92868,26720,0,0,231480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987525,987525,8,139,2016,0,0,0,0,4,0,...,11257778,11907721,25885,84,0,3431145,4925968,0,654653,11002090
987529,987529,8,139,2016,0,0,7,11,0,1,...,1554335,1566400,0,0,18,794639,279709,244803,0,1657388
987530,987530,8,139,2016,0,0,33,32,2,1,...,86282095,85785462,262072,2,65,22787632,46732723,2530882,49583775,85991402
987533,987533,8,139,2016,0,0,5,5,1,1,...,7892838,7892838,0,36,10,3682753,4038309,0,0,8600884

In [5]:
total.sample(10) #Contar los valores perdidos en cada columna
missing_values_count = total.isnull().sum()
missing_values_count[0:75] #No hay datos perdidos en ninguna columna

ESTABLECIMIENTO                 0
DPTO                            0
CIIU                            0
PERIODO                         0
SOCIOSMUJ                       0
SOCIOSHOM                       0
PERMANENTEMUJ                   0
PERMANENTEHOM                   0
APRENDIZMUJ                     0
APRENDIZHOM                     0
PROD_NAL_MUJ                    0
PROD_NAL_HOM                    0
PROD_EXT_MUJ                    0
PROD_EXT_HOM                    0
OBREROMUJ                       0
OBREROHOM                       0
ADM_MUJ                         0
ADM_HOM                         0
TOTMUJER                        0
TOTHOMBRE                       0
COSTOS_PT_ELAB_TERCEROS         0
OUTSOURCING_PROD                0
OUTSOURCING_ADM                 0
TOTAL_OUTSOURCING               0
MUESTRASGRATIS_PROD             0
MUESTRASGRATIS_ADM              0
TOT_MUESTRASGRATIS              0
TRANSP_PT_ADM                   0
TRANSP_PT                       0
SEGUROS                         0
PUBLICIDAD_PROD                 0
PUBLICIDAD_ADM                  0
TOT_PUBLICIDAD                  0
USO_PATENTES_ADM                0
TOTALUSO_PATENTES               0
GASTOSCARTERA_ADM               0
GASTOSCARTERA                   0
INV_MP                          0
INV_PP                          0
INV_PT                          0
INV_PTNOFAB                     0
TOTALINV                        0
COMPRAEINFORMATICA_NUEVO        0
COMPRAEINFORMATICA_USADO        0
GASTOSEDIF_USOPROPIO            0
GASTOSMAQ_USOPROPIO             0
GASTOSEINFORMATICA_USOPROPIO    0
GASTOSEOFICINA_USOPROPIO        0
GASTOSEQTRANSP_USOPROPIO        0
TOTALGASTOS_USOPROPIO           0
INVER_TERRENO                   0
INVER_EDIF                      0
INVER_MAQ                       0
TOTALINV_EINFORMATICA           0
INVER_OFICINA                   0
INVER_EQTRANSP                  0
TOTALINVER                      0
VAL_VENDIDOS_EINFORMATICA       0
VAL_TERRENO                     0
VAL_EDIF                        0
VAL_MAQ                         0
VAL_EINFORMATICA                0
VAL_OFICINA                     0
VAL_EQTRANSP                    0
VALORACTIVOS                    0
PROD_BRUTA                      0
PROD_INDUST                     0
INVERBRUTA                      0
TEMPORALDIRECTO                 0
PERMANENTE                      0
VAL_AGREGADO                    0
MPCOMPRADA                      0
COMPRAS_MP_EXTERIOR             0
EXPORTACIONES                   0
VENTAS                          0
dtype: int64